@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ListBox("countries",
            new MultiSelectList(new string[] { "Россия", "США", "Китай", "Индия" }))
    <p><input type="submit" value="Отправить" /></p>
}

@section Footer {
    Все права защищены. Syte Corp. 2012.
}